 .u-section-1 {
  background-position: 50% 50%, 50% 50%;
  background-repeat: no-repeat, no-repeat;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url('images/1.png');
  background-size: cover, cover;
}

.u-section-1 .u-sheet-1 {
  min-height: 949px;
}

.u-section-1 .u-group-1 {
  min-height: 72px;
  height: auto;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: linear-gradient(to bottom, rgba(128, 128, 128, 0.9), rgba(128, 128, 128, 0.9));
  background-size: cover;
  margin-top: 178px;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-shopping-cart-1 {
  height: 53px;
  width: 53px;
  margin: 10px 18px 0 auto;
}

.u-section-1 .u-icon-1 {
  padding: 9px;
}

.u-section-1 .u-group-2 {
  min-height: 575px;
  height: auto;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: linear-gradient(to bottom, rgba(153, 153, 153, 0.9), rgba(153, 153, 153, 0.9));
  background-size: cover;
  margin-top: 0;
  margin-bottom: 30px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-categories-1 {
  transition-duration: 0.5s;
  margin: 30px auto 0 0;
}

.u-section-1 .u-categories-item-content-1 {
  margin-right: 5px;
  margin-bottom: 0;
  background-image: none;
  --radius: 14px;
  padding: 7px 10px;
}

.u-section-1 .u-categories-item-content-2 {
  margin-right: 5px;
  margin-bottom: 0;
  background-image: none;
  --radius: 14px;
  padding: 7px 10px;
}

.u-section-1 .u-categories-item-content-3 {
  margin-right: 5px;
  margin-bottom: 0;
  background-image: none;
  --radius: 14px;
  padding: 7px 10px;
}

.u-section-1 .u-categories-item-content-4 {
  margin-right: 5px;
  margin-bottom: 0;
  background-image: none;
  --radius: 14px;
  padding: 7px 10px;
}

.u-section-1 .u-categories-item-content-5 {
  margin-right: 5px;
  margin-bottom: 0;
  background-image: none;
  --radius: 14px;
  padding: 7px 10px;
}

.u-section-1 .u-categories-item-content-6 {
  margin-right: 5px;
  margin-bottom: 0;
  background-image: none;
  --radius: 14px;
  padding: 7px 10px;
}

.u-section-1 .u-categories-item-content-7 {
  margin-right: 5px;
  margin-bottom: 0;
  background-image: none;
  --radius: 14px;
  padding: 7px 10px;
}

.u-section-1 .u-categories-item-content-8 {
  margin-right: 5px;
  margin-bottom: 0;
  background-image: none;
  --radius: 14px;
  padding: 7px 10px;
}

.u-section-1 .u-categories-item-content-9 {
  margin-right: 5px;
  margin-bottom: 0;
  background-image: none;
  --radius: 14px;
  padding: 7px 10px;
}

.u-section-1 .u-products-1 {
  width: 899px;
  margin: -518px 0 0 auto;
}

.u-section-1 .u-repeater-1 {
  grid-auto-columns: 33.3333%;
  grid-template-columns: repeat(3, 33.3333%);
  min-height: 515px;
  grid-gap: 0px;
}

.u-section-1 .u-container-layout-3 {
  padding: 14px 30px 30px 33px;
}

.u-section-1 .u-image-1 {
  height: 301px;
  margin-top: 58px;
  margin-bottom: 0;
}

.u-section-1 .u-text-1 {
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-1 .u-product-price-1 {
  margin: 20px auto 0;
}

.u-section-1 .u-btn-1 {
  font-size: 0.875rem;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 35px -6px 0 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 14px 30px 30px 33px;
}

.u-section-1 .u-image-2 {
  height: 301px;
  margin-top: 58px;
  margin-bottom: 0;
}

.u-section-1 .u-text-2 {
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-1 .u-product-price-2 {
  margin: 20px auto 0;
}

.u-section-1 .u-btn-2 {
  font-size: 0.875rem;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 35px -6px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 783px;
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-group-2 {
    height: auto;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: 33.333333333333336%;
    grid-template-columns: repeat(3, 33.333333333333336%);
  }

  .u-section-1 .u-image-1 {
    inset: auto;
    height: NaNpx;
  }

  .u-section-1 .u-image-2 {
    inset: auto;
    height: NaNpx;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 600px;
  }

  .u-section-1 .u-products-1 {
    width: 720px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: 50%;
    grid-template-columns: repeat(2, 50%);
    min-height: 619px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 30px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 30px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 450px;
  }

  .u-section-1 .u-products-1 {
    width: 540px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: 100%;
    grid-template-columns: 100%;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 283px;
  }

  .u-section-1 .u-products-1 {
    width: 340px;
  }
}

.u-section-1 .u-categories-1,
.u-section-1 .u-categories-1:before,
.u-section-1 .u-categories-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}